<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Your OTP Code</title>
</head>
<body>
  <h2>Hello <%= name %>,</h2>
  <p>Your OTP code is:</p>
  <h1 style="color: #2d89ef;"><%= otp %></h1>
  <p>This code will expire in 5 minutes.</p>
  <p>If you didn’t request this, please ignore this email.</p>
  <br>
  <p>Thank you,<br>The Team</p>
</body>
</html>
